{% extends 'base.html'%} {% load static %}
<style>
  .home-page {
    background: linear-gradient(rgba(1, 168, 255, 0.1), rgba(1, 168, 255, 1));
    height: 100vh;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 77%, 0 0);
    z-index: -1;
  }
</style>
{%block content%}

<div class="home-page">
  <h2>Home Page</h2>
  <p style="text-align: right;">
    Welcome to My Site... {% if user.is_authenticated%}
    <strong style="text-transform: capitalize;">{{user.username}}!</strong>

    {%else%} Strangerr !{%endif%}
    <br />
  </p>
  <div style="font-weight: 500; margin-top: 50px;" class="quotes1">
    <ul style="color: black; list-style: none; z-index: 10;">
      <li class="quotes" style="margin: 0px;">
        "When hungry, eat your rice; when tired, close your eyes. Fools may
        laugh at me, but wise men will know what I mean". —Lin-Chi
      </li>
      <hr />
      <li class="quotes" style="margin: 0px;">
        “The purpose of our lives is to be happy.” — Dalai Lama
      </li>
      <hr />

      <li class="quotes" style="margin: 0px;">
        "The real question is not whether life exists after death. The real
        question is whether you are alive before death." — Osho
      </li>

      <hr />

      <hr />
    </ul>
  </div>
</div>

{%endblock%}
