{% extends 'base.html'%} {% load static %}
<style>
  .home-page {
    background: linear-gradient(rgba(1, 168, 255, 0.1), rgba(1, 168, 255, 1));
    height: 100vh;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 77%, 0 0);
    z-index: -1;
  }
</style>
{%block content%}

<div class="home-page">
  <h2>Home Page</h2>
  <p style="text-align: right;">
    Welcome to My Site... {% if user.is_authenticated%}
    <strong style="text-transform: capitalize;">{{user.username}}!</strong>

    {%else%} Stranger !{%endif%} {% if user.is_authenticated%}
    <br />
  </p>
  {%endif%}
</div>

{%endblock%}
