body {
  height: 100%;
  background: linear-gradient(rgba(1, 168, 255, 0.5), rgba(1, 168, 255, 1));
}
.base-body {
  height: 100vh;
}

.post {
  background: linear-gradient(rgba(1, 168, 255, 0.5), rgba(1, 168, 255, 1));
  border: 1px solid black;
  margin: 30px;
  padding: 30px;
  word-wrap: break-word;
}
.home-page {
  background: linear-gradient(rgba(1, 168, 255, 0.1), rgba(1, 168, 255, 1));
  height: 100vh;
  clip-path: polygon(100% 0%, 100% 57%, 50% 100%, 0 57%, 0 0);
  z-index: -1;
}

.icon-1 {
  float: right;
}

.icon-1:hover {
  background: rgb(3, 92, 139);
}

.post h2 {
  float: none;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
  color: #010aff;
}

@media (max-width: 768px) {
  body {
    height: 100%;
    background: rgba(1, 168, 255, 1);
  }
  .post h2 {
    float: none;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 20px;
    color: #010aff;
    font-weight: 1000;
  }
  .post {
    background: linear-gradient(rgba(1, 168, 255, 0.5), rgba(1, 168, 255, 1));
    border: none;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
  }
}
